@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

@theme {
  --color-text-black: #424242;
  --color-blue-area: #18868c;
  --color-red-area: #c23030;
  --color-black-area: #292929;
  --color-pri-navy: #2b557e;
  --color-blue-border: #1b2f49;
  --color-gray-border: #8a8a8a;
  --color-background: #f7f6f3;
  --color-table-background: #f5f3ec;
}

/* 불러온 폰트 설정 - 굵은거 */
@font-face {
  font-family: "GapyeongHanseokbong-Bold";
  src: url("/fonts/GAPYEONGHANSEOKBONGB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 불러온 폰트 설정 - 일반거 */
@font-face {
  font-family: "GapyeongHanseokbong-Regular";
  src: url("/fonts/GAPYEONGHANSEOKBONGR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 불러온 폰트 설정 */
.font-GH-Bold {
  font-family: "GapyeongHanseokbong-Bold";
}

.font-GH-Regular {
  font-family: "GapyeongHanseokbong-Regular";
}

/* 테이블 격자무늬?? 생성 */
.table-border-deco {
  position: relative;
}

.table-border-deco::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  bottom: 6px;
  border-top: 1px solid #2b557e;
  border-bottom: 1px solid #2b557e;
}

.table-border-deco::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  right: 6px;
  border-left: 1px solid #2b557e;
  border-right: 1px solid #2b557e;
}
